# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\situ_Study\intelijIDEAStudy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
